---
---

@import "{{ site.theme }}";

  body {
    background-color: rgb(43, 39, 39);
    padding:50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(233, 222, 222);
    font-weight:400;
  }

  h1, h2, h3, h4, h5, h6 {
    color:rgb(82, 45, 182);
    margin:0 0 20px;
  }

  p, ul, ol, table, pre, dl {
    margin:0 0 20px;
  }
  
  h1, h2, h3 {
    line-height:1.1;
  }
  
  h1 {
    font-size:28px;
  }
  
  h2 {
    color:#267CB9;
  }
  
  h3, h4, h5, h6 {
    color:#267CB9;
  }

  a {
    color:#267CB9;
    text-decoration:none;
  }
  
  a:hover, a:focus {
    color: rgb(138, 197, 60);
    font-weight: bold;
  }
  
  a small {
    font-size:11px;
    color:#267CB9;
    margin-top:-0.3em;
    display:block;
  }
  
  a:hover small {
    color:#267CB9;
  }
  