---
---

@import "{{ site.theme }}";

body {
    background-color: rgb(43, 39, 39);
    padding:50px;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(233, 222, 222);
    font-weight:400;
  }

h1, h2, h3, h4, h5, h6 {
    color:rgb(74, 28, 182);
    margin:0 0 20px;
  }